# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Uploaded images
uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# YOLO training outputs
runs/

# Build
dist/
build/